/* =================================Polices===============================*/
@font-face {
  font-family: "balooregular";
  src: url("polices/Baloo-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*===================================Body==================================*/
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.page main {
  flex-grow: 1;
}

/* ================================== Header ==============================*/
.navbar {
  display: flex;
  justify-content: flex-end;
}

.logo {
  width: 100px;
}

.logolink {
  position: absolute;
  left: 10px;
}

.fas {
  color: #505353;
}

#cartLogo:hover {
  color: #9356DC;
}

/* ================================= Card Product =======================*/
.cardProduct, .productDetails {
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.cardProduct img, .productDetails img {
  border-radius: 30px;
  box-shadow: 0px 2px 3px #a9c2c2;
  margin-bottom: 15px;
  animation: apparition-img 1500ms 0ms;
}

@keyframes apparition-img {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ==================================== Footer ==========================*/
footer {
  padding-top: 15px;
  padding-bottom: 10px;
}
footer p {
  text-align: center;
  margin-bottom: 5px;
}
footer .iconsfooter {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
footer .iconsfooter i {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

/* ================================ Index =============================== */
/* ----------------------------------Desc Title------------------------- */
.desc {
  text-align: center;
}

h1 {
  font-family: "balooregular", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-top: 10px;
  color: #676269;
}

p {
  font-family: "balooregular", Arial, Helvetica, sans-serif;
  color: #676269;
}

/*---------------------------------cardProduct----------------------------*/
.linkProduct {
  text-decoration: none;
  outline: none;
}
.linkProduct h1, .linkProduct p {
  color: #9356DC;
}
.linkProduct p {
  font-size: 1.2rem;
}

.cardProduct img {
  transition: opacity 500ms, box-shadow 500ms;
}
.cardProduct img:hover {
  opacity: 0.8;
  box-shadow: 0px 8px 5px #b9b7b7;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .cardProduct img {
    height: 180px;
    object-fit: cover;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .cardProduct img {
    height: 260px;
    object-fit: cover;
  }
}
@media screen and (min-width: 1201px) {
  .cardProduct img {
    height: 330px;
    object-fit: cover;
  }
}
/* ================================ Product ============================ */
#selectColors {
  margin-bottom: 20px;
  max-width: 400px;
  margin: auto;
}

.productDetails h1 {
  font-size: 2.7rem;
  color: #9356DC;
}
.productDetails p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.3rem;
}
.productDetails button {
  margin-bottom: 30px;
}
.productDetails img {
  width: 80%;
}

@media screen and (min-width: 992px) {
  .productDetails img {
    max-width: 600px;
  }
}
/* ================================ Cart ============================= */
table {
  width: 95%;
  margin: auto;
  padding: 0;
  table-layout: auto;
  margin-bottom: 20px;
}
table caption {
  caption-side: top;
  text-align: center;
  font-size: 2rem;
  font-family: "balooregular", Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}
table img {
  width: 190px;
  border-radius: 20px;
  box-shadow: 0px 2px 3px #a9c2c2;
  margin-bottom: 20px;
  margin-top: 20px;
}
table tr {
  border-bottom: 3px solid #ddd;
}
table .fa-trash:hover {
  color: red;
}

h5 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

#deleteCard {
  margin-left: 5%;
  margin-bottom: 30px;
}
#deleteCard button {
  margin-left: 20px;
}
#deleteCard i {
  color: red;
}

.fa-minus {
  cursor: pointer;
  margin-right: 12px;
}

.fa-plus {
  cursor: pointer;
  margin-left: 12px;
}

@media screen and (max-width: 600px) {
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 20px;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
    margin-bottom: 10px;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  #produits {
    display: flex;
    align-items: center;
  }
  #produits i {
    position: relative;
    top: 30px;
    right: 50px;
  }
  #produits img {
    margin-right: 20px;
    margin-top: 10px;
    width: 150px;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
#totalCost {
  text-align: center;
}

#noproduct p {
  font-size: 2rem;
  font-family: "balooregular", Arial, Helvetica, sans-serif;
  color: #9356DC;
  text-align: center;
}

form {
  visibility: hidden;
  width: 90%;
  margin: auto;
}

.showformcontact {
  visibility: visible;
  animation: apparition-form 1500ms 0ms;
}

@keyframes apparition-form {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
/*----------------------------------form-------------------------*/
form {
  margin-top: 40px;
}
form .btn {
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*=================Confirmation==================*/
#thx {
  text-align: center;
}
#thx h1 {
  margin-top: 30px;
}
#thx p {
  font-size: 1.3rem;
  color: #9356DC;
}
#thx i {
  color: #23d842;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
